.ResumeViewContainer{
    display: flex;
    margin-top: 50px;
    background-image: linear-gradient(to right, lightcyan, violet);
}

@media(prefers-color-scheme: dark){
    .column{
        flex: 50%;
        height: 800px;
        padding: 10px;
        background-image: linear-gradient(to right, black , grey);
    }
}

@media(prefers-color-scheme: light){
    .column{
        flex: 50%;
        height: 800px;
        padding: 10px;
    }
}